@import '~office-ui-fabric-react/dist/sass/References.scss';

.pivotSample {
  margin: 5px;
  .pivotContent {
    padding: 10px;
  }  
  .pivotControl {
    margin-top: -4px;
    div[role="tablist"] {
        border: 1px solid #7f7f7f;
        border-radius: 12px;
        padding: 1px;
    }
    button {
      padding: 2px 8px 3px;
      height: 25px;
      cursor: pointer;
      text-align: center;
      border-radius: 10px;
      background-clip: padding-box;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid transparent!important;
      font-size: 13px;
      margin-right: 0px;
      &:hover {
          background-color: lightgrey;
          border-color: lightgrey;
      }
      &[aria-selected="true"] {
        background-color: #0078d4;
        border-color: #0078d4;
        color: #fff;
        fill: #fff;
      }
    }
  }
}
